:root{
    --primary-color:#adf0d4;
    --secondary-color:#1fd8a4;
    --bg-color:#0d1512;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition-duration: 200ms;
}

body{
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 14px;
}

.darkerText{
    color: var(--secondary-color);
}

header, main, footer{
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

nav{
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 32px;
}

nav a{
    cursor: pointer;
}

nav a:hover{
    opacity: 0.7;
}

main, section, .nameContainer{
    display: flex;
    flex-direction: column;

}

main{
    gap: 64px;
}

.nameContainer{
    gap: 8px;
}

section{
    gap: 48px;
}

.statsContainer{
    display: flex;
    align-items: stretch;
    gap: 24px;
    
}

.stats{
    display: flex;
    flex-direction: column;


}

.stats div{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 14px;
}

.imageContainer{
    border-radius: 100%;
    max-width: 114px;
    overflow: hidden;
}

.imageContainer img{
    width: 100%;
   aspect-ratio: 1/1;
    object-fit: cover;
}